<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>practice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <style>
      .box{
            border: 2px solid black;
        }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col d-none d-sm-block text-center">
          <a href="home"><img src="../assets/homepage/banda singh bahadur.jpg" class="img-thumbnail box"></a>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-9 text-center">
          <div style="background-color:skyblue" class="shadow mb-3 rounded">
            <h1>Banda Singh Bahadur</h1>
            <h2>Hostel</h2>
            <h2 class="d-none d-sm-block">Block C</h2>
          </div>
        </div>
        <div class="col d-none d-md-block text-center">
          <a href="http://www.punjabiuniversity.ac.in/" target="_blank"><img src="../assets/homepage/logo.jpg" class="img-thumbnail box"></a>
        </div>
      </div>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="complaints">Complaints</a>
            <a class="nav-item nav-link" href="contact">Contacts</a>
            <a class="nav-item nav-link " href="news">news</a>
            <a class="nav-item nav-link " href="admin">Admin</a>
            <a class="nav-item nav-link " href="login">Login</a>
            <a class="nav-item nav-link " href="signup">Sign Up</a>
          </div>
        </div>
      </nav>
    </div>
    <script src="../assets/js/jQuery.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
  </body>

</html>
