<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <% include partials/upperbar.ejs %>
    <h2>What do you want to edit</h2>
    <a href="/edithomepage">Home Page</a>
    <a href="/managecontacts">Manage conatcts</a>
    <a href="/managenews">Manage News</a>
    <a href="/managecomplaints">Manage Complaints</a>
  </body>

</html>
