<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>545</title>
  </head>
  <body>
    <% include partials/upperbar.ejs %>
    <form action="/loginadmin" method="post">
    <input type="text" placeholder="Enter Username" name="username" required>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
</form>
  </body>
</html>
