<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <% include partials/upperbar.ejs %>
    <p>
      Thanks for signing up
    </p>
    <p>Your Unique Id for future refrence is <br> We have also Send it to your Email
      <h1>
        <%= uid %>
      </h1>
    </p>
  </body>

</html>
